.connexion{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.connexion div:nth-child(1){
    margin-left: auto;
    padding: 10% 30px;
    background-color: #202020;
    justify-content: center;
}
.connexion form:nth-child(1){
    margin: auto;
}
.connexion form:nth-child(2){
    margin: auto;
    display: none;
}
.connexion form{
    background-color: #202020;
}
